html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica";
  margin: 0;
  padding: 16px 16px 8px 16px;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 14px;
  font-family: "Helvetica";
  margin: 0;
  padding: 16px 16px 8px 16px;
}

code {
  font-size: 14px;
}

section.entirepage {
  width: 100%;
  height: 100vh;
  /*background-color: purple;*/
}

a,
:visited :hover {
  color: black;
}

ul {
  margin: 0;
  padding: 16px 16px 8px 16px;
}

li {
  margin: 0;
  padding: 0 0 8px 0;
}
