:root {
  // Greyscale
  --hard-white: rgba(255, 255, 255, 1);
  --super-light-gray: rgba(250, 251, 252, 1);
  --light-gray: rgba(243, 243, 243, 1);
  --gray: rgba(218, 213, 217, 1); // #DAD5D9
  --dark-gray: rgba(85, 86, 85, 1); // #555655
  --super-dark-gray: rgba(33, 34, 36, 1); // #212224
  --soft-black: rgba(17, 17, 17, 1); // #111111
  --hard-black: rgba(0, 0, 0, 1);

  // Neon
  --neon-green: rgba(58, 255, 90, 1);
  --neon-lime: rgba(200, 255, 36, 1);
  --neon-yellow: rgba(239, 255, 1);
  // orange
  --neon-red: rgba(244, 71, 37, 1);
  --neon-blue: rgba(41, 0, 251, 1);
  --neon-purple: rgba(83, 1, 255, 1);
  --neon-pink: rgba(255, 5, 113, 1);

  // Coral
  --coral-red: rgba(255, 96, 96, 1);

  // Other
}
